/*
z-index: 1;
box-shadow: -20px 3px 20px rgb(0 0 0 / 6%);
display: flex;
align-items: center;
background: #fff 0 0 no-repeat padding-box;
height: 75em;
*/

// @import 'semantic-ui-css/semantic.css';

#root {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	.pusher {
		flex: 1;
	}
}

.ui {
	&.header {
		&.title {
			font-size: 1.5em; // 4em;
			font-weight: normal;
			color: #0b57fc;
		}
		&.subtitle {
			font-size: 1.7em;
			font-weight: normal;
		}
		&.instructions {
			font-weight: normal;
			margin: 1em 0;
		}
	}
	&.segment {
		&.header {
			padding: 1.5em 0;
			margin-bottom: 1em;
			background: #fff 0 0 no-repeat padding-box;
			box-shadow: -20px 3px 20px rgba(0, 0, 0, 6%);
		}
		&.footer {
			margin-top: 4em;
			padding: 2em 0;
			box-shadow: -20px 3px 20px rgba(0, 0, 0, 6%);
			background: #fff 0 0 no-repeat padding-box;
		}
	}
	&.buttons {
		.or {
			text-transform: none;
		}
	}
	&.divider {
		&.horizontal.padded {
			margin: 2em 0;
		}
	}
	&.image {
		&.preview {
			cursor: url(./images/ui/remove-cursor.png), auto;
		}
	}
}
